# coding: utf-8

"""
    Authenticate Platform Supply Chain API

    Through this API you can Manage products and suppliers. Access to this API is restricted to authenticated users. Before accessing this API, first authenticate via the \"Account\" API. (https://uat-account.authenticateis.com/)  # noqa: E501

    OpenAPI spec version: 1.0
    Contact: platform-support@authenticateis.com
    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""

from __future__ import absolute_import

import re  # noqa: F401

# python 2 and python 3 compatibility library
import six

from authenticate_supply_chain.api_client import ApiClient


class CountryEsgSummariesApi(object):
    """NOTE: This class is auto generated by the swagger code generator program.

    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

    def get_country_esg_summaries(self, **kwargs):  # noqa: E501
        """Returns the latest country esg summaries for all countries  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_country_esg_summaries(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str order_by: Specify order of results
        :param bool ranked_countries_only: Only include ranked companies
        :param str search_query:
        :param int page_number:
        :param int page_size:
        :return: list[CountryEsgSummaryDto]
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_country_esg_summaries_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.get_country_esg_summaries_with_http_info(**kwargs)  # noqa: E501
            return data

    def get_country_esg_summaries_with_http_info(self, **kwargs):  # noqa: E501
        """Returns the latest country esg summaries for all countries  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_country_esg_summaries_with_http_info(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str order_by: Specify order of results
        :param bool ranked_countries_only: Only include ranked companies
        :param str search_query:
        :param int page_number:
        :param int page_size:
        :return: list[CountryEsgSummaryDto]
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['order_by', 'ranked_countries_only', 'search_query', 'page_number', 'page_size']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_country_esg_summaries" % key
                )
            params[key] = val
        del params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'order_by' in params:
            query_params.append(('OrderBy', params['order_by']))  # noqa: E501
        if 'ranked_countries_only' in params:
            query_params.append(('RankedCountriesOnly', params['ranked_countries_only']))  # noqa: E501
        if 'search_query' in params:
            query_params.append(('SearchQuery', params['search_query']))  # noqa: E501
        if 'page_number' in params:
            query_params.append(('PageNumber', params['page_number']))  # noqa: E501
        if 'page_size' in params:
            query_params.append(('PageSize', params['page_size']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json', 'application/xml'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/api/v1/CountryEsgSummaries', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='list[CountryEsgSummaryDto]',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_country_esg_summary(self, country_id, **kwargs):  # noqa: E501
        """Returns a the latest esg summary associated with the country  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_country_esg_summary(country_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str country_id: (required)
        :return: CountryEsgSummaryDto
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_country_esg_summary_with_http_info(country_id, **kwargs)  # noqa: E501
        else:
            (data) = self.get_country_esg_summary_with_http_info(country_id, **kwargs)  # noqa: E501
            return data

    def get_country_esg_summary_with_http_info(self, country_id, **kwargs):  # noqa: E501
        """Returns a the latest esg summary associated with the country  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_country_esg_summary_with_http_info(country_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str country_id: (required)
        :return: CountryEsgSummaryDto
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['country_id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_country_esg_summary" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'country_id' is set
        if ('country_id' not in params or
                params['country_id'] is None):
            raise ValueError("Missing the required parameter `country_id` when calling `get_country_esg_summary`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'country_id' in params:
            path_params['countryId'] = params['country_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json', 'application/xml'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/api/v1/Countries/{countryId}/CountryEsgSummaries', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='CountryEsgSummaryDto',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)
