# coding: utf-8

"""
    Authenticate Platform Supply Chain API

    Through this API you can Manage products and suppliers. Access to this API is restricted to authenticated users. Before accessing this API, first authenticate via the \"Account\" API. (https://uat-account.authenticateis.com/)  # noqa: E501

    OpenAPI spec version: 1.0
    Contact: platform-support@authenticateis.com
    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""

from __future__ import absolute_import

import re  # noqa: F401

# python 2 and python 3 compatibility library
import six

from authenticate_supply_chain.api_client import ApiClient


class RawMaterialRecordsApi(object):
    """NOTE: This class is auto generated by the swagger code generator program.

    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

    def api_v1_raw_material_records_status_count_get(self, **kwargs):  # noqa: E501
        """Returns counts of Raw material records based on the resource parameters  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.api_v1_raw_material_records_status_count_get(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str supplier_id: Limit results to a single supplier.
        :param RawMaterialRecordStatusEnum status: Limit results to a status
        :param bool no_status: Limit results to records without a status
        :param str search_query:
        :param int page_number:
        :param int page_size:
        :param str order_by:
        :return: list[RawMaterialRecordDto]
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.api_v1_raw_material_records_status_count_get_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.api_v1_raw_material_records_status_count_get_with_http_info(**kwargs)  # noqa: E501
            return data

    def api_v1_raw_material_records_status_count_get_with_http_info(self, **kwargs):  # noqa: E501
        """Returns counts of Raw material records based on the resource parameters  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.api_v1_raw_material_records_status_count_get_with_http_info(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str supplier_id: Limit results to a single supplier.
        :param RawMaterialRecordStatusEnum status: Limit results to a status
        :param bool no_status: Limit results to records without a status
        :param str search_query:
        :param int page_number:
        :param int page_size:
        :param str order_by:
        :return: list[RawMaterialRecordDto]
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['supplier_id', 'status', 'no_status', 'search_query', 'page_number', 'page_size', 'order_by']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method api_v1_raw_material_records_status_count_get" % key
                )
            params[key] = val
        del params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'supplier_id' in params:
            query_params.append(('SupplierId', params['supplier_id']))  # noqa: E501
        if 'status' in params:
            query_params.append(('Status', params['status']))  # noqa: E501
        if 'no_status' in params:
            query_params.append(('NoStatus', params['no_status']))  # noqa: E501
        if 'search_query' in params:
            query_params.append(('SearchQuery', params['search_query']))  # noqa: E501
        if 'page_number' in params:
            query_params.append(('PageNumber', params['page_number']))  # noqa: E501
        if 'page_size' in params:
            query_params.append(('PageSize', params['page_size']))  # noqa: E501
        if 'order_by' in params:
            query_params.append(('OrderBy', params['order_by']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json', 'application/xml'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/api/v1/RawMaterialRecords/StatusCount', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='list[RawMaterialRecordDto]',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def api_v1_raw_materials_raw_material_id_records_post(self, raw_material_id, **kwargs):  # noqa: E501
        """Create a raw material record for a raw material  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.api_v1_raw_materials_raw_material_id_records_post(raw_material_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str raw_material_id: (required)
        :param RawMaterialRecordForCreationDto body:
        :return: RawMaterialRecordDto
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.api_v1_raw_materials_raw_material_id_records_post_with_http_info(raw_material_id, **kwargs)  # noqa: E501
        else:
            (data) = self.api_v1_raw_materials_raw_material_id_records_post_with_http_info(raw_material_id, **kwargs)  # noqa: E501
            return data

    def api_v1_raw_materials_raw_material_id_records_post_with_http_info(self, raw_material_id, **kwargs):  # noqa: E501
        """Create a raw material record for a raw material  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.api_v1_raw_materials_raw_material_id_records_post_with_http_info(raw_material_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str raw_material_id: (required)
        :param RawMaterialRecordForCreationDto body:
        :return: RawMaterialRecordDto
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['raw_material_id', 'body']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method api_v1_raw_materials_raw_material_id_records_post" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'raw_material_id' is set
        if ('raw_material_id' not in params or
                params['raw_material_id'] is None):
            raise ValueError("Missing the required parameter `raw_material_id` when calling `api_v1_raw_materials_raw_material_id_records_post`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'raw_material_id' in params:
            path_params['rawMaterialId'] = params['raw_material_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json', 'application/xml'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/api/v1/RawMaterials/{rawMaterialId}/Records', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='RawMaterialRecordDto',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def api_v1_raw_materials_raw_material_id_records_raw_material_record_id_delete(self, raw_material_id, raw_material_record_id, **kwargs):  # noqa: E501
        """Delete a raw material record.  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.api_v1_raw_materials_raw_material_id_records_raw_material_record_id_delete(raw_material_id, raw_material_record_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str raw_material_id: (required)
        :param str raw_material_record_id: (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.api_v1_raw_materials_raw_material_id_records_raw_material_record_id_delete_with_http_info(raw_material_id, raw_material_record_id, **kwargs)  # noqa: E501
        else:
            (data) = self.api_v1_raw_materials_raw_material_id_records_raw_material_record_id_delete_with_http_info(raw_material_id, raw_material_record_id, **kwargs)  # noqa: E501
            return data

    def api_v1_raw_materials_raw_material_id_records_raw_material_record_id_delete_with_http_info(self, raw_material_id, raw_material_record_id, **kwargs):  # noqa: E501
        """Delete a raw material record.  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.api_v1_raw_materials_raw_material_id_records_raw_material_record_id_delete_with_http_info(raw_material_id, raw_material_record_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str raw_material_id: (required)
        :param str raw_material_record_id: (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['raw_material_id', 'raw_material_record_id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method api_v1_raw_materials_raw_material_id_records_raw_material_record_id_delete" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'raw_material_id' is set
        if ('raw_material_id' not in params or
                params['raw_material_id'] is None):
            raise ValueError("Missing the required parameter `raw_material_id` when calling `api_v1_raw_materials_raw_material_id_records_raw_material_record_id_delete`")  # noqa: E501
        # verify the required parameter 'raw_material_record_id' is set
        if ('raw_material_record_id' not in params or
                params['raw_material_record_id'] is None):
            raise ValueError("Missing the required parameter `raw_material_record_id` when calling `api_v1_raw_materials_raw_material_id_records_raw_material_record_id_delete`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'raw_material_id' in params:
            path_params['rawMaterialId'] = params['raw_material_id']  # noqa: E501
        if 'raw_material_record_id' in params:
            path_params['rawMaterialRecordId'] = params['raw_material_record_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json', 'application/xml'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/api/v1/RawMaterials/{rawMaterialId}/Records/{rawMaterialRecordId}', 'DELETE',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def api_v1_raw_materials_raw_material_id_records_raw_material_record_id_get(self, raw_material_id, raw_material_record_id, **kwargs):  # noqa: E501
        """Returns a specified raw material record  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.api_v1_raw_materials_raw_material_id_records_raw_material_record_id_get(raw_material_id, raw_material_record_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str raw_material_id: The unique identifier of the raw material (required)
        :param str raw_material_record_id: The unique identifier of the raw material record to return (required)
        :return: list[RawMaterialRecordDto]
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.api_v1_raw_materials_raw_material_id_records_raw_material_record_id_get_with_http_info(raw_material_id, raw_material_record_id, **kwargs)  # noqa: E501
        else:
            (data) = self.api_v1_raw_materials_raw_material_id_records_raw_material_record_id_get_with_http_info(raw_material_id, raw_material_record_id, **kwargs)  # noqa: E501
            return data

    def api_v1_raw_materials_raw_material_id_records_raw_material_record_id_get_with_http_info(self, raw_material_id, raw_material_record_id, **kwargs):  # noqa: E501
        """Returns a specified raw material record  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.api_v1_raw_materials_raw_material_id_records_raw_material_record_id_get_with_http_info(raw_material_id, raw_material_record_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str raw_material_id: The unique identifier of the raw material (required)
        :param str raw_material_record_id: The unique identifier of the raw material record to return (required)
        :return: list[RawMaterialRecordDto]
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['raw_material_id', 'raw_material_record_id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method api_v1_raw_materials_raw_material_id_records_raw_material_record_id_get" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'raw_material_id' is set
        if ('raw_material_id' not in params or
                params['raw_material_id'] is None):
            raise ValueError("Missing the required parameter `raw_material_id` when calling `api_v1_raw_materials_raw_material_id_records_raw_material_record_id_get`")  # noqa: E501
        # verify the required parameter 'raw_material_record_id' is set
        if ('raw_material_record_id' not in params or
                params['raw_material_record_id'] is None):
            raise ValueError("Missing the required parameter `raw_material_record_id` when calling `api_v1_raw_materials_raw_material_id_records_raw_material_record_id_get`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'raw_material_id' in params:
            path_params['rawMaterialId'] = params['raw_material_id']  # noqa: E501
        if 'raw_material_record_id' in params:
            path_params['rawMaterialRecordId'] = params['raw_material_record_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json', 'application/xml'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/api/v1/RawMaterials/{rawMaterialId}/Records/{rawMaterialRecordId}', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='list[RawMaterialRecordDto]',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def api_v1_raw_materials_raw_material_id_records_raw_material_record_id_put(self, raw_material_id, raw_material_record_id, **kwargs):  # noqa: E501
        """Fully update a raw material record. All elements must be supplied or fields will be updated to default values  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.api_v1_raw_materials_raw_material_id_records_raw_material_record_id_put(raw_material_id, raw_material_record_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str raw_material_id: (required)
        :param str raw_material_record_id: (required)
        :param RawMaterialRecordForUpdateDto body:
        :return: RawMaterialRecordDto
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.api_v1_raw_materials_raw_material_id_records_raw_material_record_id_put_with_http_info(raw_material_id, raw_material_record_id, **kwargs)  # noqa: E501
        else:
            (data) = self.api_v1_raw_materials_raw_material_id_records_raw_material_record_id_put_with_http_info(raw_material_id, raw_material_record_id, **kwargs)  # noqa: E501
            return data

    def api_v1_raw_materials_raw_material_id_records_raw_material_record_id_put_with_http_info(self, raw_material_id, raw_material_record_id, **kwargs):  # noqa: E501
        """Fully update a raw material record. All elements must be supplied or fields will be updated to default values  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.api_v1_raw_materials_raw_material_id_records_raw_material_record_id_put_with_http_info(raw_material_id, raw_material_record_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str raw_material_id: (required)
        :param str raw_material_record_id: (required)
        :param RawMaterialRecordForUpdateDto body:
        :return: RawMaterialRecordDto
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['raw_material_id', 'raw_material_record_id', 'body']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method api_v1_raw_materials_raw_material_id_records_raw_material_record_id_put" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'raw_material_id' is set
        if ('raw_material_id' not in params or
                params['raw_material_id'] is None):
            raise ValueError("Missing the required parameter `raw_material_id` when calling `api_v1_raw_materials_raw_material_id_records_raw_material_record_id_put`")  # noqa: E501
        # verify the required parameter 'raw_material_record_id' is set
        if ('raw_material_record_id' not in params or
                params['raw_material_record_id'] is None):
            raise ValueError("Missing the required parameter `raw_material_record_id` when calling `api_v1_raw_materials_raw_material_id_records_raw_material_record_id_put`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'raw_material_id' in params:
            path_params['rawMaterialId'] = params['raw_material_id']  # noqa: E501
        if 'raw_material_record_id' in params:
            path_params['rawMaterialRecordId'] = params['raw_material_record_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json', 'application/xml'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/api/v1/RawMaterials/{rawMaterialId}/Records/{rawMaterialRecordId}', 'PUT',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='RawMaterialRecordDto',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def list_all_raw_material_records(self, **kwargs):  # noqa: E501
        """Returns a list of Raw material records for the requesting company  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.list_all_raw_material_records(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str supplier_id: Limit results to a single supplier.
        :param RawMaterialRecordStatusEnum status: Limit results to a status
        :param bool no_status: Limit results to records without a status
        :param str search_query:
        :param int page_number:
        :param int page_size:
        :param str order_by:
        :return: list[RawMaterialRecordDto]
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.list_all_raw_material_records_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.list_all_raw_material_records_with_http_info(**kwargs)  # noqa: E501
            return data

    def list_all_raw_material_records_with_http_info(self, **kwargs):  # noqa: E501
        """Returns a list of Raw material records for the requesting company  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.list_all_raw_material_records_with_http_info(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str supplier_id: Limit results to a single supplier.
        :param RawMaterialRecordStatusEnum status: Limit results to a status
        :param bool no_status: Limit results to records without a status
        :param str search_query:
        :param int page_number:
        :param int page_size:
        :param str order_by:
        :return: list[RawMaterialRecordDto]
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['supplier_id', 'status', 'no_status', 'search_query', 'page_number', 'page_size', 'order_by']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method list_all_raw_material_records" % key
                )
            params[key] = val
        del params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'supplier_id' in params:
            query_params.append(('SupplierId', params['supplier_id']))  # noqa: E501
        if 'status' in params:
            query_params.append(('Status', params['status']))  # noqa: E501
        if 'no_status' in params:
            query_params.append(('NoStatus', params['no_status']))  # noqa: E501
        if 'search_query' in params:
            query_params.append(('SearchQuery', params['search_query']))  # noqa: E501
        if 'page_number' in params:
            query_params.append(('PageNumber', params['page_number']))  # noqa: E501
        if 'page_size' in params:
            query_params.append(('PageSize', params['page_size']))  # noqa: E501
        if 'order_by' in params:
            query_params.append(('OrderBy', params['order_by']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json', 'application/xml'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/api/v1/RawMaterialRecords', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='list[RawMaterialRecordDto]',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def list_raw_material_records(self, raw_material_id, **kwargs):  # noqa: E501
        """Returns a list of Raw material records for a raw material  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.list_raw_material_records(raw_material_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str raw_material_id: (required)
        :param str supplier_id: Limit results to a single supplier.
        :param RawMaterialRecordStatusEnum status: Limit results to a status
        :param bool no_status: Limit results to records without a status
        :param str search_query:
        :param int page_number:
        :param int page_size:
        :param str order_by:
        :return: list[RawMaterialRecordDto]
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.list_raw_material_records_with_http_info(raw_material_id, **kwargs)  # noqa: E501
        else:
            (data) = self.list_raw_material_records_with_http_info(raw_material_id, **kwargs)  # noqa: E501
            return data

    def list_raw_material_records_with_http_info(self, raw_material_id, **kwargs):  # noqa: E501
        """Returns a list of Raw material records for a raw material  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.list_raw_material_records_with_http_info(raw_material_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str raw_material_id: (required)
        :param str supplier_id: Limit results to a single supplier.
        :param RawMaterialRecordStatusEnum status: Limit results to a status
        :param bool no_status: Limit results to records without a status
        :param str search_query:
        :param int page_number:
        :param int page_size:
        :param str order_by:
        :return: list[RawMaterialRecordDto]
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['raw_material_id', 'supplier_id', 'status', 'no_status', 'search_query', 'page_number', 'page_size', 'order_by']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method list_raw_material_records" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'raw_material_id' is set
        if ('raw_material_id' not in params or
                params['raw_material_id'] is None):
            raise ValueError("Missing the required parameter `raw_material_id` when calling `list_raw_material_records`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'raw_material_id' in params:
            path_params['rawMaterialId'] = params['raw_material_id']  # noqa: E501

        query_params = []
        if 'supplier_id' in params:
            query_params.append(('SupplierId', params['supplier_id']))  # noqa: E501
        if 'status' in params:
            query_params.append(('Status', params['status']))  # noqa: E501
        if 'no_status' in params:
            query_params.append(('NoStatus', params['no_status']))  # noqa: E501
        if 'search_query' in params:
            query_params.append(('SearchQuery', params['search_query']))  # noqa: E501
        if 'page_number' in params:
            query_params.append(('PageNumber', params['page_number']))  # noqa: E501
        if 'page_size' in params:
            query_params.append(('PageSize', params['page_size']))  # noqa: E501
        if 'order_by' in params:
            query_params.append(('OrderBy', params['order_by']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json', 'application/xml'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/api/v1/RawMaterials/{rawMaterialId}/Records', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='list[RawMaterialRecordDto]',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)
