# coding: utf-8

"""
    Authenticate Platform Supply Chain API

    Through this API you can Manage products and suppliers. Access to this API is restricted to authenticated users. Before accessing this API, first authenticate via the \"Account\" API. (https://uat-account.authenticateis.com/)  # noqa: E501

    OpenAPI spec version: 1.0
    Contact: platform-support@authenticateis.com
    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""

from __future__ import absolute_import

import re  # noqa: F401

# python 2 and python 3 compatibility library
import six

from authenticate_supply_chain.api_client import ApiClient


class SuppliersApi(object):
    """NOTE: This class is auto generated by the swagger code generator program.

    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

    def get_supplier(self, supplier_id, **kwargs):  # noqa: E501
        """Returns a specified supplier  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_supplier(supplier_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str supplier_id: The unique identifier for the supplier to return (required)
        :return: SupplierDto
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_supplier_with_http_info(supplier_id, **kwargs)  # noqa: E501
        else:
            (data) = self.get_supplier_with_http_info(supplier_id, **kwargs)  # noqa: E501
            return data

    def get_supplier_with_http_info(self, supplier_id, **kwargs):  # noqa: E501
        """Returns a specified supplier  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_supplier_with_http_info(supplier_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str supplier_id: The unique identifier for the supplier to return (required)
        :return: SupplierDto
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['supplier_id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_supplier" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'supplier_id' is set
        if ('supplier_id' not in params or
                params['supplier_id'] is None):
            raise ValueError("Missing the required parameter `supplier_id` when calling `get_supplier`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'supplier_id' in params:
            path_params['supplierId'] = params['supplier_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json', 'application/xml'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/api/v1/Suppliers/{supplierId}', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='SupplierDto',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_suppliers(self, **kwargs):  # noqa: E501
        """Returns a list of all Suppliers meeting the request criteria  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_suppliers(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str supplier_id: Filter by a specific supplier id
        :param str supplier_code: Filter by the supplier code you have assigned
        :param str supplier_status: Filter by the supplier status you have assigned  Status values are: Approved, Pending, Suspended, Rejected
        :param str supplier_risk: Filter by the supplier risk  you have assigned  Risks are: Low, Medium, High
        :param list[int] tier: Filter supplier by supply chain tier (NB: viewing suppliers at Tier 2+ is not available for all membership levels)
        :param datetime start_date: Limit the returned suppliers to those where a recorded change event occurred on or after this date  Change events include updates to supplier status, risk etc or when a company first appeared in your supply chain
        :param datetime end_date: Limit the returned suppliers to those where a recorded change event occurred before this date    Change events include updates to supplier status, risk etc or when a company first appeared in your supply chain
        :param str order_by: Order the results
        :param str country: Filter supplier by country
        :param str postcode: Filter supplier by postcode
        :param bool authenticate_member: Filter by whether the company is a member of the authenticate platform or not
        :param str company_type: Filter by ONS Company Type
        :param list[str] company_ids: Filter by list of company id's
        :param list[str] supplier_codes: Filter by supplier codes
        :param list[str] licence_numbers: Filter by licence numbers
        :param str search_query:
        :param int page_number:
        :param int page_size:
        :return: list[SupplierDto]
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_suppliers_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.get_suppliers_with_http_info(**kwargs)  # noqa: E501
            return data

    def get_suppliers_with_http_info(self, **kwargs):  # noqa: E501
        """Returns a list of all Suppliers meeting the request criteria  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_suppliers_with_http_info(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str supplier_id: Filter by a specific supplier id
        :param str supplier_code: Filter by the supplier code you have assigned
        :param str supplier_status: Filter by the supplier status you have assigned  Status values are: Approved, Pending, Suspended, Rejected
        :param str supplier_risk: Filter by the supplier risk  you have assigned  Risks are: Low, Medium, High
        :param list[int] tier: Filter supplier by supply chain tier (NB: viewing suppliers at Tier 2+ is not available for all membership levels)
        :param datetime start_date: Limit the returned suppliers to those where a recorded change event occurred on or after this date  Change events include updates to supplier status, risk etc or when a company first appeared in your supply chain
        :param datetime end_date: Limit the returned suppliers to those where a recorded change event occurred before this date    Change events include updates to supplier status, risk etc or when a company first appeared in your supply chain
        :param str order_by: Order the results
        :param str country: Filter supplier by country
        :param str postcode: Filter supplier by postcode
        :param bool authenticate_member: Filter by whether the company is a member of the authenticate platform or not
        :param str company_type: Filter by ONS Company Type
        :param list[str] company_ids: Filter by list of company id's
        :param list[str] supplier_codes: Filter by supplier codes
        :param list[str] licence_numbers: Filter by licence numbers
        :param str search_query:
        :param int page_number:
        :param int page_size:
        :return: list[SupplierDto]
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['supplier_id', 'supplier_code', 'supplier_status', 'supplier_risk', 'tier', 'start_date', 'end_date', 'order_by', 'country', 'postcode', 'authenticate_member', 'company_type', 'company_ids', 'supplier_codes', 'licence_numbers', 'search_query', 'page_number', 'page_size']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_suppliers" % key
                )
            params[key] = val
        del params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'supplier_id' in params:
            query_params.append(('SupplierId', params['supplier_id']))  # noqa: E501
        if 'supplier_code' in params:
            query_params.append(('SupplierCode', params['supplier_code']))  # noqa: E501
        if 'supplier_status' in params:
            query_params.append(('SupplierStatus', params['supplier_status']))  # noqa: E501
        if 'supplier_risk' in params:
            query_params.append(('SupplierRisk', params['supplier_risk']))  # noqa: E501
        if 'tier' in params:
            query_params.append(('Tier', params['tier']))  # noqa: E501
            collection_formats['Tier'] = 'multi'  # noqa: E501
        if 'start_date' in params:
            query_params.append(('StartDate', params['start_date']))  # noqa: E501
        if 'end_date' in params:
            query_params.append(('EndDate', params['end_date']))  # noqa: E501
        if 'order_by' in params:
            query_params.append(('OrderBy', params['order_by']))  # noqa: E501
        if 'country' in params:
            query_params.append(('Country', params['country']))  # noqa: E501
        if 'postcode' in params:
            query_params.append(('Postcode', params['postcode']))  # noqa: E501
        if 'authenticate_member' in params:
            query_params.append(('AuthenticateMember', params['authenticate_member']))  # noqa: E501
        if 'company_type' in params:
            query_params.append(('CompanyType', params['company_type']))  # noqa: E501
        if 'company_ids' in params:
            query_params.append(('CompanyIds', params['company_ids']))  # noqa: E501
            collection_formats['CompanyIds'] = 'multi'  # noqa: E501
        if 'supplier_codes' in params:
            query_params.append(('SupplierCodes', params['supplier_codes']))  # noqa: E501
            collection_formats['SupplierCodes'] = 'multi'  # noqa: E501
        if 'licence_numbers' in params:
            query_params.append(('LicenceNumbers', params['licence_numbers']))  # noqa: E501
            collection_formats['LicenceNumbers'] = 'multi'  # noqa: E501
        if 'search_query' in params:
            query_params.append(('SearchQuery', params['search_query']))  # noqa: E501
        if 'page_number' in params:
            query_params.append(('PageNumber', params['page_number']))  # noqa: E501
        if 'page_size' in params:
            query_params.append(('PageSize', params['page_size']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json', 'application/xml'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/api/v1/Suppliers', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='list[SupplierDto]',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def search_suppliers(self, **kwargs):  # noqa: E501
        """Returns a list of all Suppliers meeting the request criteria  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.search_suppliers(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param SupplierResourceParameters body:
        :return: list[SupplierDto]
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.search_suppliers_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.search_suppliers_with_http_info(**kwargs)  # noqa: E501
            return data

    def search_suppliers_with_http_info(self, **kwargs):  # noqa: E501
        """Returns a list of all Suppliers meeting the request criteria  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.search_suppliers_with_http_info(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param SupplierResourceParameters body:
        :return: list[SupplierDto]
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method search_suppliers" % key
                )
            params[key] = val
        del params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json', 'application/xml'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/api/v1/Suppliers/Search', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='list[SupplierDto]',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)
